flows.json
[
    {
        "id": "b72ff8a98c4fd15a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b9fba18783d9509f",
        "type": "modbus-client",
        "name": "midnite",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.251",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "c2dc28664e398cd8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "d7338bc9eb9684a1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "8f70105477d90261",
        "type": "ui-page",
        "name": "MHC Lomas",
        "ui": "c2dc28664e398cd8",
        "path": "/page1",
        "icon": "home",
        "layout": "tabs",
        "theme": "d7338bc9eb9684a1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "16"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2b70db4ff6f3070a",
        "type": "ui-group",
        "name": "Real Time Status",
        "page": "8f70105477d90261",
        "width": "3",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "44eebceeecbe645f",
        "type": "ui-group",
        "name": "Metrics",
        "page": "8f70105477d90261",
        "width": "3",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b7ed27f8da190684",
        "type": "ui-group",
        "name": "Device Info",
        "page": "8f70105477d90261",
        "width": "3",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9a6dc5e2e9734bda",
        "type": "modbus-client",
        "name": "schneider",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.88",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "10",
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "16184caa5c9a6b16",
        "type": "modbus-read",
        "z": "b72ff8a98c4fd15a",
        "name": "Status Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "4100",
        "quantity": "12",
        "rate": "24",
        "rateUnit": "m",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b9fba18783d9509f",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "7f082f24fd5bd64c"
            ],
            [
                "7c542e7e1949162f"
            ]
        ]
    },
    {
        "id": "7f082f24fd5bd64c",
        "type": "function",
        "z": "b72ff8a98c4fd15a",
        "name": "parseStaticArray",
        "func": "// msg.payload is an array of 12 numbers (registers 4101 to 4112)\nconst staticRegs = msg.payload;\n\n// Helper function for unit type mapping (from table 4101-1)\nfunction getUnitType(lsb) {\n  const unitTypes = {\n    150: 'Classic 150',\n    200: 'Classic 200',\n    250: 'Classic 250',\n    251: 'Classic 250 KS'\n  };\n  return unitTypes[lsb] || 'Unknown';\n}\n\nconst staticInfo = {\n  pcb_revision: Number(staticRegs[0]) >> 8,  // 4101 MSB\n  unit_type: getUnitType(Number(staticRegs[0]) & 0xFF),  // 4101 LSB\n  firmware_date: `${Number(staticRegs[1])}-${String(Number(staticRegs[2]) >> 8).padStart(2, '0')}-${String(Number(staticRegs[2]) & 0xFF).padStart(2, '0')}`,  // 4102-4103\n  mac_address: `${Number(staticRegs[7]) >> 8}:${Number(staticRegs[7]) & 0xFF}:${Number(staticRegs[6]) >> 8}:${Number(staticRegs[6]) & 0xFF}:${Number(staticRegs[5]) >> 8}:${Number(staticRegs[5]) & 0xFF}`,  // 4106-4108\n  device_id: (Number(staticRegs[11]) << 16) + Number(staticRegs[10]),  // 4111-4112\n  whizbang_crc_good: !!(Number(staticRegs[3]) & 0x0001),  // 4104\n  wbjr_net_ah: (Number(staticRegs[9]) << 16) + Number(staticRegs[8])  // 4109-4110\n};\n\n// Store in global context\nglobal.set('classicStatic', staticInfo);\n\n// Optional: Pass through or debug\nmsg.payload = staticInfo;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "4a83171e3a688fba",
                "2a94cf03aeb63c08"
            ]
        ]
    },
    {
        "id": "7c542e7e1949162f",
        "type": "modbus-response",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "registerShowMax": 20,
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "eb2f08d282408a7a",
        "type": "modbus-read",
        "z": "b72ff8a98c4fd15a",
        "name": "Status Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "4113",
        "quantity": "31",
        "rate": "25",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b9fba18783d9509f",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 600,
        "wires": [
            [
                "34361ff451eeb349"
            ],
            [
                "1cc0d48ae4538929"
            ]
        ]
    },
    {
        "id": "1cc0d48ae4538929",
        "type": "modbus-response",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "registerShowMax": 20,
        "x": 390,
        "y": 460,
        "wires": []
    },
    {
        "id": "34361ff451eeb349",
        "type": "function",
        "z": "b72ff8a98c4fd15a",
        "name": "function 1",
        "func": "// msg.payload is an array of 31 numbers (registers 4114 to 4144)\nconst dynamicRegs = msg.payload;\nconst staticInfo = global.get('classicStatic') || {};  // Fallback if not set yet\n\n// Helper functions for mappings (add these)\nfunction getChargeStage(msb) {\n    const stages = {\n        0: 'Resting',\n        3: 'Absorb',\n        4: 'BulkMppt',\n        5: 'Float',\n        6: 'FloatMppt',\n        7: 'Equalize',\n        10: 'HyperVoc',\n        18: 'EqMppt'\n    };\n    return stages[msb] || 'Unknown';\n}\n\nfunction getChargeState(lsb) {\n    const states = {\n        0: 'Resting',\n        1: 'Waking/Starting',\n        2: 'Waking/Starting',\n        3: 'MPPT/Regulating Voltage',\n        4: 'MPPT/Regulating Voltage',\n        6: 'MPPT/Regulating Voltage'\n    };\n    return states[lsb] || 'Unknown';\n}\n\nfunction getInfoFlags(flags32) {\n    flags32 = Number(flags32) || 0;\n    const flagMap = {\n        0x00000001: 'Classic Over Temperature',\n        0x00000002: 'EEPROM error',\n        0x00000004: 'SerialWriteLock',\n        0x00000008: 'Equalize In Progress',\n        0x00000080: 'EQ MPPT',\n        0x00000100: 'In V is Lower Than Out',\n        0x00000200: 'Current Limit',\n        0x00000400: 'HyperVoc',\n        0x00002000: 'Battery Temp Sensor Installed',\n        0x00004000: 'Aux1 State On',\n        0x00008000: 'Aux2 State On',\n        0x00010000: 'GroundFaultF',\n        0x00020000: 'OCP (Over Current Protect)',\n        0x00040000: 'ArcFaultF',\n        0x00080000: 'NegBatCurrentF',\n        0x00200000: 'XtraInfo2DsplayF',\n        0x00400000: 'PvPartialShadeF',\n        0x00800000: 'WatchdogResetF',\n        0x01000000: 'LowBatteryVF',\n        0x02000000: 'StackJumperF',\n        0x04000000: 'EqDoneF',\n        0x08000000: 'TempCompShortedF',\n        0x10000000: 'UN-LockJumperF',\n        0x20000000: 'XtraJumperF',\n        0x40000000: 'InputShortedF'\n    };\n    const activeFlags = [];\n    for (const [value, desc] of Object.entries(flagMap)) {\n        const mask = Number(value) || 0;\n        if ((flags32 & mask) !== 0) activeFlags.push(desc);\n    }\n    return activeFlags;\n}\n\n// Parse dynamic (adjusted indices: subtract 13 from original)\nconst status = {\n    restart_timer_ms: Number(dynamicRegs[0]),  // 4114\n    battery_voltage: Number(dynamicRegs[1]) / 10,  // 4115\n    pv_voltage: Number(dynamicRegs[2]) / 10,  // 4116\n    battery_current: Number(dynamicRegs[3]) / 10,  // 4117\n    daily_kwh: Number(dynamicRegs[4]) / 10,  // 4118 (for metrics.daily.kwh)\n    power_watts: Number(dynamicRegs[5]),  // 4119\n    charge_stage: getChargeStage(Number(dynamicRegs[6]) >> 8),  // 4120 MSB\n    charge_state: getChargeState(Number(dynamicRegs[6]) & 0xFF),  // 4120 LSB\n    pv_current: Number(dynamicRegs[7]) / 10,  // 4121\n    last_voc: Number(dynamicRegs[8]) / 10,  // 4122\n    highest_input_v: Number(dynamicRegs[9]) / 10,  // 4123\n    daily_ah: Number(dynamicRegs[11]),  // 4125 (skip 4124 wind)\n    // Lifetime from dynamic (or move to semi-static if desired)\n    lifetime_kwh: ((Number(dynamicRegs[13]) << 16) + Number(dynamicRegs[12])),  // 4126-4127\n    lifetime_ah: ((Number(dynamicRegs[15]) << 16) + Number(dynamicRegs[14])),  // 4128-4129\n    info_flags: getInfoFlags((Number(dynamicRegs[17]) << 16) + Number(dynamicRegs[16])),  // 4130-4131\n    battery_temp: Number(dynamicRegs[18]) / 10,  // 4132\n    fet_temp: Number(dynamicRegs[19]) / 10,  // 4133\n    pcb_temp: Number(dynamicRegs[20]) / 10,  // 4134\n    night_minutes_no_pwr: Number(dynamicRegs[21]),  // 4135\n    float_time_today_sec: Number(dynamicRegs[24]),  // 4138\n    absorb_time_sec: Number(dynamicRegs[25]),  // 4139\n    pwm_duty: Number(dynamicRegs[27]),  // 4141\n    reset_reason: Number(dynamicRegs[28]),  // 4142\n    eq_time_sec: Number(dynamicRegs[29])  // 4143\n};\n\nconst metrics = {\n    daily: {\n        kwh: status.daily_kwh,\n        ah: status.daily_ah\n    },\n    lifetime: {\n        kwh: status.lifetime_kwh,\n        ah: status.lifetime_ah\n    }\n};\n\nconst info = { ...staticInfo };  // Merge static\n\nmsg.payload = { status, metrics, info };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 600,
        "wires": [
            [
                "7ddf5ff233ffd7ab",
                "d809dd4c1c0e9044",
                "f5cd3aa206a2e760",
                "b1b0108cf2d15a73",
                "8f2e2e1970ab909e",
                "92c9b7045c47346c",
                "819a735b1bf5a4c3",
                "0a32fcfaf0c0f46a",
                "c6b1dd076309fabc",
                "15ca2f4515e758bc"
            ]
        ]
    },
    {
        "id": "0dbcdd16edefa853",
        "type": "ui-gauge",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "group": "2b70db4ff6f3070a",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Voltaj Baterie",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Volts",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1210,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "7ddf5ff233ffd7ab",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.status, \"battery_voltage\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 600,
        "wires": [
            [
                "0dbcdd16edefa853"
            ]
        ]
    },
    {
        "id": "869b7470b6499885",
        "type": "ui-gauge",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "group": "2b70db4ff6f3070a",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Tensiune Turbina",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Volts",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "160",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "200",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "230",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1230,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d809dd4c1c0e9044",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.status, \"pv_voltage\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 640,
        "wires": [
            [
                "869b7470b6499885"
            ]
        ]
    },
    {
        "id": "f5cd3aa206a2e760",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.status, \"power_watts\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 680,
        "wires": [
            [
                "529f4cbcded4d0cf"
            ]
        ]
    },
    {
        "id": "529f4cbcded4d0cf",
        "type": "ui-gauge",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "group": "2b70db4ff6f3070a",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Putere Turbina",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Wats",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1500",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "2000",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "2500",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1220,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "80c8c3bfa84c6846",
        "type": "ui-text",
        "z": "b72ff8a98c4fd15a",
        "group": "2b70db4ff6f3070a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Charger Stage",
        "label": "Faza Incarcare:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1220,
        "y": 740,
        "wires": []
    },
    {
        "id": "b1b0108cf2d15a73",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.status, \"charge_stage\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 720,
        "wires": [
            [
                "37fd251c56a0a8f6"
            ]
        ]
    },
    {
        "id": "8f2e2e1970ab909e",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.status, \"charge_state\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 760,
        "wires": [
            [
                "37fd251c56a0a8f6"
            ]
        ]
    },
    {
        "id": "37fd251c56a0a8f6",
        "type": "join",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " , ",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 740,
        "wires": [
            [
                "80c8c3bfa84c6846"
            ]
        ]
    },
    {
        "id": "92c9b7045c47346c",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.status, \"battery_temp\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 800,
        "wires": [
            [
                "110c9c9703dbca2e"
            ]
        ]
    },
    {
        "id": "110c9c9703dbca2e",
        "type": "ui-gauge",
        "z": "b72ff8a98c4fd15a",
        "name": "BatTemp",
        "group": "2b70db4ff6f3070a",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura Baterie",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-10",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "5",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "10",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "25",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "26",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-10",
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1200,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "819a735b1bf5a4c3",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.status, \"info_flags\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 840,
        "wires": [
            [
                "ad23f8ec1b39b970"
            ]
        ]
    },
    {
        "id": "ad23f8ec1b39b970",
        "type": "ui-text",
        "z": "b72ff8a98c4fd15a",
        "group": "b7ed27f8da190684",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status Flags",
        "label": "Flags: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1210,
        "y": 840,
        "wires": []
    },
    {
        "id": "0a32fcfaf0c0f46a",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.status, \"float_time_today_sec\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 880,
        "wires": [
            [
                "6e2307c28b90db8b"
            ]
        ]
    },
    {
        "id": "6e2307c28b90db8b",
        "type": "function",
        "z": "b72ff8a98c4fd15a",
        "name": "minutes",
        "func": "msg.payload = msg.payload / 60\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 880,
        "wires": [
            [
                "f04b452e88857c88"
            ]
        ]
    },
    {
        "id": "f04b452e88857c88",
        "type": "function",
        "z": "b72ff8a98c4fd15a",
        "name": "hours",
        "func": "msg.payload = (msg.payload / 60).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 880,
        "wires": [
            [
                "b5a7c2fa28d00211"
            ]
        ]
    },
    {
        "id": "b5a7c2fa28d00211",
        "type": "ui-gauge",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "group": "44eebceeecbe645f",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Float Time",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "h",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "12",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "24",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "24",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1210,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "c6b1dd076309fabc",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.status, \"daily_kwh\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 920,
        "wires": [
            [
                "7acc2d4589897061"
            ]
        ]
    },
    {
        "id": "15ca2f4515e758bc",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.status, \"lifetime_kwh\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 960,
        "wires": [
            [
                "48c35f0b074a1186"
            ]
        ]
    },
    {
        "id": "7acc2d4589897061",
        "type": "ui-text",
        "z": "b72ff8a98c4fd15a",
        "group": "44eebceeecbe645f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Daily Power",
        "label": "Daily Power:  ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1210,
        "y": 920,
        "wires": []
    },
    {
        "id": "48c35f0b074a1186",
        "type": "ui-text",
        "z": "b72ff8a98c4fd15a",
        "group": "44eebceeecbe645f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Lifetime Power",
        "label": "Lifetime Power: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1220,
        "y": 960,
        "wires": []
    },
    {
        "id": "4a83171e3a688fba",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload, \"unit_type\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 280,
        "wires": [
            [
                "7029a0985ad5bb12"
            ]
        ]
    },
    {
        "id": "2a94cf03aeb63c08",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload, \"device_id\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 320,
        "wires": [
            [
                "fab8fad69214b829"
            ]
        ]
    },
    {
        "id": "7029a0985ad5bb12",
        "type": "ui-text",
        "z": "b72ff8a98c4fd15a",
        "group": "b7ed27f8da190684",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Charger Stage",
        "label": "Device Type: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "fab8fad69214b829",
        "type": "ui-text",
        "z": "b72ff8a98c4fd15a",
        "group": "b7ed27f8da190684",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Device ID",
        "label": "Device ID:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "b0e63c4007d83937",
        "type": "function",
        "z": "b72ff8a98c4fd15a",
        "name": "parse name",
        "func": "// msg.payload is an array of 8 uint16 (for str16 Device Name)\nconst regs = msg.payload;\n\nlet deviceName = '';\nfor (let reg of regs) {\n  // LSB first for Conext strings\n  deviceName += String.fromCharCode(Number(reg) & 0xFF) + String.fromCharCode((Number(reg) >> 8) & 0xFF);\n}\n\n// Trim null chars and extra padding\ndeviceName = deviceName.replace(/\\0/g, '').trim();\n\n// Output as JSON\nmsg.payload = { info: { device_name: deviceName } };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "bd5bf6a80864d08a"
            ]
        ]
    },
    {
        "id": "62c66d3893c8b193",
        "type": "modbus-read",
        "z": "b72ff8a98c4fd15a",
        "name": "Read Registry Inverter status",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "0x0042",
        "quantity": "14",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "9a6dc5e2e9734bda",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 1240,
        "wires": [
            [
                "347add4fe59ea4ec"
            ],
            []
        ]
    },
    {
        "id": "347add4fe59ea4ec",
        "type": "function",
        "z": "b72ff8a98c4fd15a",
        "name": "status flags",
        "func": "// msg.payload is array of 14 uint16 (regs 67-80 from main read)\n// Assume flow.get('warningBitmap1') for reg 195 (set from separate read)\n\nconst regs = msg.payload;\nconst warningBitmap1 = flow.get('warningBitmap1') || 0;  // Fallback 0\n\n// Helper to get active items from bitmap\nfunction getActive(bitMap, mapObj) {\n  const active = [];\n  for (let bit = 0; bit < 16; bit++) {\n    if (bitMap & (1 << bit)) {\n      active.push(mapObj[bit] || `Unknown Bit${bit}`);\n    }\n  }\n  return active;\n}\n\n// Fault mappings from doc (sections 2.2-2.5)\nconst faultMap0 = { // Reg 67\n  0: 'F1: AC Output Undervoltage Shutdown',\n  1: 'F2: AC Output Overvoltage Shutdown',\n  2: 'F17: AC BackFeed Fault (AC1 L1)',\n  3: 'F18: AC BackFeed Fault (AC1 L2)',\n  4: 'F19: AC BackFeed Fault (AC2 L1)',\n  5: 'F20: AC Backfeed Fault (AC2 L2)',\n  6: 'F21: AC Backfeed Fault (L1L2 Weld)',\n  7: 'F22: AC Backfeed Fault (Line 1 Weld)',\n  8: 'F23: Anti-Islanding Fault (Over Freq)',\n  9: 'F24: Anti-Islanding Fault (Under Freq)',\n  10: 'F25: Anti-Islanding (Over Freq)',\n  11: 'F26: Anti-Islanding (Under Freq)',\n  12: 'F27: Anti-Islanding (Over Voltage Line 1)',\n  13: 'F28: Anti-Islanding (Over Voltage Line 2)',\n  14: 'F29: Anti-Islanding (Over Voltage)',\n  15: 'F30: Anti-Islanding (Over voltage L1L2)'\n};\n\nconst faultMap1 = { // Reg 68\n  0: 'F31: Anti-Islanding (Over Voltage L1 Slow)',\n  1: 'F32: Anti-Islanding (Over Voltage L2 Slow)',\n  2: 'F33: Anti-Islanding (Over Voltage L1L2 Slow)',\n  3: 'F34: Anti-Islanding (Under Voltage L1 Slow)',\n  4: 'F35: Anti-Islanding (Under Voltage L2 Slow)',\n  5: 'F36: Anti-Islanding (Under Voltage L1L2 Slow)',\n  6: 'F37: Anti-Islanding (Under Voltage L1 Fast)',\n  7: 'F38: Anti-Islanding (Under Voltage L2 Fast)',\n  8: 'F39: Anti-Islanding (Under Voltage)',\n  9: 'F40: Anti-Islanding (Under Voltage L1L2 Fast)',\n  10: 'F41: APS Under Voltage',\n  11: 'F42: APS Over Voltage',\n  12: 'F44: Battery Over Temperature',\n  13: 'F45: Capacitor Over Temperature',\n  14: 'F46: Controller Error',\n  15: 'F47: DC Under Voltage Immediate'\n};\n\nconst faultMap2 = { // Reg 69\n  0: 'F48: DC Under-Voltage Shutdown',\n  1: 'F49: DC Over-Voltage Shutdown',\n  2: 'F51: EEPROM Error',\n  3: 'F52: EEPROM Error (Cal Fail)',\n  4: 'F53: EEPROM Error (Config Fail)',\n  5: 'F54: EEPROM Error (Default Fail)',\n  6: 'F55: EEPROM Error (Log Fail)',\n  7: 'F56: EEPROM Error (Strings Fail)',\n  8: 'F57: FET1 Over-Temperature Shutdown',\n  9: 'F58: FET2 Over-Temperature Shutdown',\n  10: 'F59: Configuration Copy Error',\n  11: 'F60: Invalid Fault',\n  12: 'F61: Invalid Warning',\n  13: 'F62: Invalid Interrupt',\n  14: 'F63: AC Overload (Primary)',\n  15: 'F64: AC Overload (Secondary 1s)'\n};\n\nconst faultMap3 = { // Reg 70\n  0: 'F65: AC Overload (2s)',\n  1: 'F66: System Configuration Error',\n  2: 'F67: Watchdog Reset',\n  3: 'F68: Transformer Over-Temperature',\n  4: 'F69: Synchronization Signal Fault',\n  5: 'F70: Three Phase Configuration Fault',\n  6: 'F90: External BMS Disconnected',\n  7: 'F71: Battery Discharge Over Current',\n  8: 'F72: External Contactor Malfunction',\n  9: 'F73: Battery Charge Over Current',\n  10: 'F74: Battery Under Voltage',\n  11: 'F75: Battery Over Voltage',\n  12: 'F91: SOC Level Lost',\n  13: 'F92: Gateway Comms Lost',\n  14: 'F93: SunSpec Controller Comms Lost'\n};\n\n// Warning mappings (sections 2.6, 2.16)\nconst warningMap0 = { // Reg 71\n  0: 'W44: Battery Over Temperature',\n  1: 'W45: Capacitor Over Temperature',\n  2: 'W48: DC Under Voltage',\n  3: 'W49: DC Over Voltage',\n  4: 'W57: FET1 Over Temperature',\n  5: 'W58: FET2 Over Temperature',\n  6: 'W63: AC Overload',\n  7: 'W64: AC Overload',\n  8: 'W68: Transformer Over Temperature',\n  9: 'W70: Check Phase Configuration',\n  10: 'W94: Remote Power Off',\n  11: 'W95: Equalize Abort',\n  12: 'W96: Cannot Equalize',\n  13: 'W97: Battery Temperature Sensor Failure',\n  14: 'W500: Lost Network Connection',\n  15: 'W501: Non Volatile Memory Warning'\n};\n\nconst warningMap1 = { // Reg 195\n  0: 'W91: SOC Level Lost',\n  1: 'W92: Gateway Comms Lost',\n  2: 'W93: SunSpec Controller Comms Lost'\n};\n\n// Parse\nconst faults = [\n  ...getActive(Number(regs[0]), faultMap0),  // 67\n  ...getActive(Number(regs[1]), faultMap1),  // 68\n  ...getActive(Number(regs[2]), faultMap2),  // 69\n  ...getActive(Number(regs[3]), faultMap3)   // 70\n];\n\nconst warnings = [\n  ...getActive(Number(regs[4]), warningMap0),  // 71\n  ...getActive(warningBitmap1, warningMap1)    // 195\n];\n\nconst configErrorsPresent = (Number(regs[13]) << 16) + Number(regs[12]) > 0;  // Reg 79-80 uint32\nconst configErrors = configErrorsPresent ? ['Configuration Errors Detected (Raw Value: ' + ((Number(regs[13]) << 16) + Number(regs[12])) + ')'] : [];  // No detailed bits in doc\n\nconst status = {\n  active_faults: !!Number(regs[9]),  // 76\n  faults: faults,\n  active_warnings: !!Number(regs[10]),  // 77\n  warnings: warnings,\n  config_errors: configErrors\n};\n\n// Assemble JSON\nmsg.payload = { status };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "0a2791be258dd311",
        "type": "modbus-read",
        "z": "b72ff8a98c4fd15a",
        "name": "Read Registry Inverter AC parameters",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "0x008C",
        "quantity": "22",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "9a6dc5e2e9734bda",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 1340,
        "wires": [
            [
                "97fafa5a78218665"
            ],
            []
        ]
    },
    {
        "id": "97fafa5a78218665",
        "type": "function",
        "z": "b72ff8a98c4fd15a",
        "name": "AC parameters",
        "func": "// msg.payload is array of 22 uint16 (regs 141-162 from address 0x008C quantity 22)\nconst regs = msg.payload;\n\n// Helper for uint32 (little-endian: low word first, so raw = (high << 16) + low)\nfunction uint32(lowIdx) {\n  const low = Number(regs[lowIdx]);\n  const high = Number(regs[lowIdx + 1]);\n  return (high << 16) + low;\n}\n\n// Helper for sint32 (signed version)\nfunction sint32(lowIdx) {\n  let val = uint32(lowIdx);\n  return val > 0x7FFFFFFF ? val - 0x100000000 : val;\n}\n\nconst ac_load = {\n  voltage: uint32(0) / 1000,         // Reg 141-142 (low index 0, high 1)\n  current: sint32(10) / 1000,        // Reg 151-152 (low 10, high 11)\n  frequency: Number(regs[12]) / 100, // Reg 153 (index 12)\n  power_w: sint32(14),               // Reg 155-156 (low 14, high 15)\n  power_va: sint32(20)               // Reg 161-162 (low 20, high 21)\n};\n\nmsg.payload = { ac_load };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1340,
        "wires": [
            [
                "2fe1d28f5dcd9f24",
                "55ca63e347351a66",
                "8ad7490ed8ef269f",
                "f207929caeaeaf64"
            ]
        ]
    },
    {
        "id": "bd5bf6a80864d08a",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.info, \"device_name\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "2fe1d28f5dcd9f24",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.ac_load, \"voltage\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1340,
        "wires": [
            [
                "9d38a5248ebe52e2"
            ]
        ]
    },
    {
        "id": "55ca63e347351a66",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.ac_load, \"current\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "8ad7490ed8ef269f",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.ac_load, \"frequency\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1420,
        "wires": [
            [
                "36b818d53a9539ae"
            ]
        ]
    },
    {
        "id": "f207929caeaeaf64",
        "type": "change",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup($$.payload.ac_load, \"power_w\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1460,
        "wires": [
            [
                "477948c30c91c5e0"
            ]
        ]
    },
    {
        "id": "477948c30c91c5e0",
        "type": "ui-gauge",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "group": "2b70db4ff6f3070a",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Consum ",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Wats",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1500",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "2000",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "2500",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1180,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "9d38a5248ebe52e2",
        "type": "ui-gauge",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "group": "2b70db4ff6f3070a",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Tensiune Retea",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Volts",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1200,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "36b818d53a9539ae",
        "type": "ui-gauge",
        "z": "b72ff8a98c4fd15a",
        "name": "",
        "group": "2b70db4ff6f3070a",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Frecventa Retea",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hertz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "45",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "55",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#ff0026",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "45",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1210,
        "y": 1380,
        "wires": [
            []
        ]
    }
]